<!-- templates/include/custom_fields.html -->
<!-- https://p.secure.freee.co.jp/api/p/employees/1872876/profile_custom_field_rule/8269087/download_file?is_preview=1 -->
{% set recruit_route = employee.custom_fields | get_custom_field_value('採用ルート') %}
<td>
    {% if recruit_route.value != 'N/A' and recruit_route.value is not none %}
        {{ recruit_route.value }}
    {% endif %}
</td>
{% set mail_pass = employee.custom_fields | get_custom_field_value('社用メールPW') %}
<td>
    {% if mail_pass.value != 'N/A' and mail_pass.value is not none %}
        {{ mail_pass.value }}
    {% endif %}
</td>
{% set health_certificate = employee.custom_fields | get_custom_field_value('入社時健康診断書') %}
<td>
    {% if health_certificate.name != 'N/A' and health_certificate.name is not none %}
        <a href="https://p.secure.freee.co.jp/api/p/employees/{{ employee.id }}/profile_custom_field_rule/{{ health_certificate.id }}/download_file?is_preview=1" target="_blank">
            {{ health_certificate.name }}
        </a>
    {% endif %}
</td>
{% set personal_agreement = employee.custom_fields | get_custom_field_value('個人情報取り扱い同意書(従業員)') %}
<td>
    {% if personal_agreement.name != 'N/A' and personal_agreement.name is not none %}
        <a href="https://p.secure.freee.co.jp/api/p/employees/{{ employee.id }}/profile_custom_field_rule/{{ personal_agreement.id }}/download_file?is_preview=1" target="_blank">
            {{ personal_agreement.name }}
        </a>
    {% endif %}
</td>
{% set resident = employee.custom_fields | get_custom_field_value('住民票') %}
<td>
    {% if resident.name != 'N/A' and resident.name is not none %}
        <a href="https://p.secure.freee.co.jp/api/p/employees/{{ employee.id }}/profile_custom_field_rule/{{ resident.id }}/download_file?is_preview=1" target="_blank">
            {{ resident.name }}
        </a>
    {% endif %}
</td>
{% set guarantee = employee.custom_fields | get_custom_field_value('身元保証書') %}
<td>
    {% if guarantee.name != 'N/A' and guarantee.name is not none %}
        <a href="https://p.secure.freee.co.jp/api/p/employees/{{ employee.id }}/profile_custom_field_rule/{{ guarantee.id }}/download_file?is_preview=1" target="_blank">
            {{ guarantee.name }}
        </a>
    {% endif %}
</td>
{% set confidentiality = employee.custom_fields | get_custom_field_value('秘密保持契約_誓約書') %}
<td>
    {% if confidentiality.name != 'N/A' and confidentiality.name is not none %}
        <a href="https://p.secure.freee.co.jp/api/p/employees/{{ employee.id }}/profile_custom_field_rule/{{ confidentiality.id }}/download_file?is_preview=1" target="_blank">
            {{ confidentiality.name }}
        </a>
    {% endif %}
</td>
{% set qualifications = employee.custom_fields | get_custom_field_value('入社時所持資格') %}
<td>
    {% if qualifications.value != 'N/A' and qualifications.value is not none %}
        {{ qualifications.value }}
    {% endif %}
</td>
{% set skill_sheet = employee.custom_fields | get_custom_field_value('スキルシート') %}
<td>
    {% if skill_sheet.value != 'N/A' and skill_sheet.value is not none and skill_sheet != 'N/A' and skill_sheet is not none %}
        <a href="{{ skill_sheet.value }}" target="_blank">スキルシート</a>
    {% endif %}
</td>
{% set trouble_folder = employee.custom_fields | get_custom_field_value('トラブルフォルダURL') %}
<td>
    {% if trouble_folder.value != 'N/A' and trouble_folder.value is not none and trouble_folder != 'N/A' and trouble_folder is not none%}
        <a href="{{ trouble_folder.value }}" target="_blank">トラブルフォルダURL</a>
    {% endif %}
</td>
{% set improvement_request = employee.custom_fields | get_custom_field_value('業務改善依頼書') %}
<td>
    {% if improvement_request.value != 'N/A' and improvement_request.value is not none %}
        {{ improvement_request.id }}
    {% endif %}
</td>
{% set participation_date = employee.custom_fields | get_custom_field_value('参画日') %}
<td>
    {% if participation_date.value != 'N/A' and participation_date.value is not none %}
        {{ participation_date.value }}
    {% endif %}
</td>
{% set participation_system = employee.custom_fields | get_custom_field_value('参画体系') %}
<td>
    {% if participation_system.value != 'N/A' and participation_system.value is not none %}
        {{ participation_system.value }}
    {% endif %}
</td>
{% set unit_price = employee.custom_fields | get_custom_field_value('単価情報') %}
<td>
    {% if unit_price.value != 'N/A' and unit_price.value is not none %}
        {{ unit_price.value }}
    {% endif %}
</td>
{% set industry = employee.custom_fields | get_custom_field_value('業種') %}
<td>
    {% if industry.value != 'N/A' and industry.value is not none %}
        {{ industry.value }}
    {% endif %}
</td>
{% set phase = employee.custom_fields | get_custom_field_value('担当フェーズ') %}
<td>
    {% if phase.value != 'N/A' and phase.value is not none %}
        {{ phase.value }}
    {% endif %}
</td>
{% set position = employee.custom_fields | get_custom_field_value('ポジション') %}
<td>
    {% if position.value != 'N/A' and position.value is not none %}
        {{ position.value }}
    {% endif %}
</td>
{% set lang_os1 = employee.custom_fields | get_custom_field_value('言語・ＯＳ等') %}
<td>
    {% if lang_os1.value != 'N/A' and lang_os1.value is not none %}
        {{ lang_os1.value }}
    {% endif %}
</td>
{% set experience = employee.custom_fields | get_custom_field_value('経験年数') %}
<td>
    {% if experience.value != 'N/A' and experience.value is not none %}
        {{ experience.value }} 年
    {% endif %}
</td>
{% set ex_position = employee.custom_fields | get_custom_field_value('ポジション') %}
<td>
    {% if ex_position.value != 'N/A' and ex_position.value is not none %}
        {{ ex_position.value }}
    {% endif %}
</td>
{% set ex_qualification = employee.custom_fields | get_custom_field_value('所持資格情報') %}
<td>
    {% if ex_qualification.value != 'N/A' and ex_qualification.value is not none %}
        {{ ex_qualification.value }}
    {% endif %}
</td>
{% set ex_phase = employee.custom_fields | get_custom_field_value('技術フェーズ') %}
<td>
    {% if ex_phase.value != 'N/A' and ex_phase.value is not none %}
        {{ ex_phase.value }}
    {% endif %}
</td>
{% set ex_lang = employee.custom_fields | get_custom_field_value('言語・OS') %}
<td>
    {% if ex_lang.value != 'N/A' and ex_lang.value is not none %}
        {{ ex_lang.value }}
    {% endif %}
</td>
{% set roadmap = employee.custom_fields | get_custom_field_value('ロードマップ(URL)') %}
<td>
    {% if roadmap != 'N/A' and roadmap is not none %}
        <a href="{{ roadmap }}" target="_blank">ロードマップ</a>
    {% endif %}
</td>
{% set bonus = employee.custom_fields | get_custom_field_value('賞与支給') %}
<td>
    {% if bonus.value != 'N/A' and bonus.value is not none %}
        {{ bonus.value }}
    {% endif %}
</td>
{% set offer_note = employee.custom_fields | get_custom_field_value('内定通知書') %}
<td>
    {% if offer_note.id != 'N/A' and offer_note.id is not none %}
        {{ offer_note.id }}
    {% endif %}
</td>
{% set conditions_note1 = employee.custom_fields | get_custom_field_value('雇用契約書_内定時(労働条件通知書)') %}
<td>
    {% if conditions_note1.id != 'N/A' and conditions_note1.id is not none %}
        {{ conditions_note1.id }}
    {% endif %}
</td>
{% set conditions_note2 = employee.custom_fields | get_custom_field_value('雇用契約書_更新時(労働条件通知書') %}
<td>
    {% if conditions_note2.id != 'N/A' and conditions_note2.id is not none %}
        {{ conditions_note2.id }}
    {% endif %}
</td>
{% set salary_increase = employee.custom_fields | get_custom_field_value('昇給通知書') %}
<td>
    {% if salary_increase.id != 'N/A' and salary_increase.id is not none %}
        {{ salary_increase.id }}
    {% endif %}
</td>
{% set etc = employee.custom_fields | get_custom_field_value('備考') %}
<td>
    {% if etc.value != 'N/A' and etc.value is not none %}
        {{ etc.value }}
    {% endif %}
</td>
