<!-- templates/include/custom_fields.html -->
<td>{{ employee.custom_fields | get_custom_field_value('採用ルート') if employee.custom_fields | get_custom_field_value('採用ルート') != 'N/A' and employee.custom_fields | get_custom_field_value('採用ルート') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('社用メールPW') if employee.custom_fields | get_custom_field_value('社用メールPW') != 'N/A' and employee.custom_fields | get_custom_field_value('社用メールPW') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('備考') if employee.custom_fields | get_custom_field_value('備考') != 'N/A' and employee.custom_fields | get_custom_field_value('備考') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('入社時健康診断書') if employee.custom_fields | get_custom_field_value('入社時健康診断書') != 'N/A' and employee.custom_fields | get_custom_field_value('入社時健康診断書') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('個人情報取り扱い同意書(従業員)') if employee.custom_fields | get_custom_field_value('個人情報取り扱い同意書(従業員)') != 'N/A' and employee.custom_fields | get_custom_field_value('個人情報取り扱い同意書(従業員)') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('住民票') if employee.custom_fields | get_custom_field_value('住民票') != 'N/A' and employee.custom_fields | get_custom_field_value('住民票') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('身元保証書') if employee.custom_fields | get_custom_field_value('身元保証書') != 'N/A' and employee.custom_fields | get_custom_field_value('身元保証書') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('採秘密保持契約_誓約書') if employee.custom_fields | get_custom_field_value('採秘密保持契約_誓約書') != 'N/A' and employee.custom_fields | get_custom_field_value('採秘密保持契約_誓約書') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('社員ID') if employee.custom_fields | get_custom_field_value('社員ID') != 'N/A' and employee.custom_fields | get_custom_field_value('社員ID') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('入社時所持資格') if employee.custom_fields | get_custom_field_value('入社時所持資格') != 'N/A' and employee.custom_fields | get_custom_field_value('入社時所持資格') is not none else '' }}</td>
<td>
    {% set skill_sheet = employee.custom_fields | get_custom_field_value('スキルシート') %}
    {% if skill_sheet != 'N/A' and skill_sheet is not none %}
        <a href="{{ skill_sheet }}" target="_blank">スキルシート</a>
    {% endif %}
</td>
<td>
    {% set trouble_folder = employee.custom_fields | get_custom_field_value('トラブルフォルダURL') %}
    {% if trouble_folder != 'N/A' and trouble_folder is not none %}
        <a href="{{ trouble_folder }}" target="_blank">トラブルフォルダURL</a>
    {% endif %}
</td>
<td>{{ employee.custom_fields | get_custom_field_value('業務改善依頼書') if employee.custom_fields | get_custom_field_value('業務改善依頼書') != 'N/A' and employee.custom_fields | get_custom_field_value('業務改善依頼書') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('参画日') if employee.custom_fields | get_custom_field_value('参画日') != 'N/A' and employee.custom_fields | get_custom_field_value('参画日') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('参画体系') if employee.custom_fields | get_custom_field_value('参画体系') != 'N/A' and employee.custom_fields | get_custom_field_value('参画体系') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('単価情報') if employee.custom_fields | get_custom_field_value('単価情報') != 'N/A' and employee.custom_fields | get_custom_field_value('単価情報') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('業種') if employee.custom_fields | get_custom_field_value('業種') != 'N/A' and employee.custom_fields | get_custom_field_value('業種') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('担当フェーズ') if employee.custom_fields | get_custom_field_value('担当フェーズ') != 'N/A' and employee.custom_fields | get_custom_field_value('担当フェーズ') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('ポジション') if employee.custom_fields | get_custom_field_value('ポジション') != 'N/A' and employee.custom_fields | get_custom_field_value('ポジション') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('言語・ＯＳ等') if employee.custom_fields | get_custom_field_value('言語・ＯＳ等') != 'N/A' and employee.custom_fields | get_custom_field_value('言語・ＯＳ等') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('経験年数') if employee.custom_fields | get_custom_field_value('経験年数') != 'N/A' and employee.custom_fields | get_custom_field_value('経験年数') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('ポジション') if employee.custom_fields | get_custom_field_value('ポジション') != 'N/A' and employee.custom_fields | get_custom_field_value('ポジション') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('所持資格情報') if employee.custom_fields | get_custom_field_value('所持資格情報') != 'N/A' and employee.custom_fields | get_custom_field_value('所持資格情報') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('技術フェーズ') if employee.custom_fields | get_custom_field_value('技術フェーズ') != 'N/A' and employee.custom_fields | get_custom_field_value('技術フェーズ') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('言語・OS') if employee.custom_fields | get_custom_field_value('言語・OS') != 'N/A' and employee.custom_fields | get_custom_field_value('言語・OS') is not none else '' }}</td>
<td>
    {% set roadmap = employee.custom_fields | get_custom_field_value('ロードマップ(URL)') %}
    {% if roadmap != 'N/A' and roadmap is not none %}
        <a href="{{ roadmap }}" target="_blank">ロードマップ</a>
    {% endif %}
</td>
<td>{{ employee.custom_fields | get_custom_field_value('賞与支給') if employee.custom_fields | get_custom_field_value('賞与支給') != 'N/A' and employee.custom_fields | get_custom_field_value('賞与支給') is not none else '' }}</td>
<td>
    {% set table_grade = employee.custom_fields | get_custom_field_value('給与テーブル（級）') %}
    {% set table_number = employee.custom_fields | get_custom_field_value('給与テーブル（号）') %}
    {{ (table_grade ~ ' - ' ~ table_number) if table_grade != 'N/A' and table_grade is not none and table_number != 'N/A' and table_number is not none else '' }}
</td>
<td>{{ employee.custom_fields | get_custom_field_value('内定通知書') if employee.custom_fields | get_custom_field_value('内定通知書') != 'N/A' and employee.custom_fields | get_custom_field_value('内定通知書') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('雇用契約書_内定時(労働条件通知書)') if employee.custom_fields | get_custom_field_value('雇用契約書_内定時(労働条件通知書)') != 'N/A' and employee.custom_fields | get_custom_field_value('雇用契約書_内定時(労働条件通知書)') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('雇用契約書_更新時(労働条件通知書）') if employee.custom_fields | get_custom_field_value('雇用契約書_更新時(労働条件通知書）') != 'N/A' and employee.custom_fields | get_custom_field_value('雇用契約書_更新時(労働条件通知書）') is not none else '' }}</td>
<td>{{ employee.custom_fields | get_custom_field_value('昇給通知書') if employee.custom_fields | get_custom_field_value('昇給通知書') != 'N/A' and employee.custom_fields | get_custom_field_value('昇給通知書') is not none else '' }}</td>
