{% extends "base.html" %}

{% block title %}従業員情報{% endblock %}

{% block content %}
<h1>従業員情報</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>番号</th>
            <th>入社日</th>
            <th>退職状況</th>
            <th>部門名</th>
            <th>名前</th>
            <th>名前（カナ）</th>
            <th>メール</th>
            <th>外部メール</th>
            <th>性別</th>
            <th>生年月日</th>
            <th>年齢</th>
            <th>郵便番号</th>
            <th>住所</th>
            <th>電話番号</th>
            <th>結婚状況</th>
            <th>総支給</th>
            <th>基本給</th>
            <th>勤務手当</th>
            <th>固定残業手当</th>
            <th>住宅手当</th>
            <th>リーダー手当</th>
            <th>一時手当（毎月）</th>
            <th>資格手当</th>
            <th>非課税交通費</th>
            <th>時間外労働</th>
            <th>休日労働</th>
            <th>深夜労働</th>
            <th>残業代</th>
            <th>採用ルート</th>
            <th>社用メールPW</th>
            <th>備考</th>
            <th>入社時健康診断書</th>
            <th>個人情報取り扱い同意書(従業員)</th>
            <th>住民票</th>
            <th>身元保証書</th>
            <th>秘密保持契約_誓約書</th>
            <th>社員ID</th>
            <th>入社時所持資格</th>
            <th>スキルシート</th>
            <th>トラブルフォルダURL</th>
            <th>業務改善依頼書</th>
            <th>参画日</th>
            <th>参画体系</th>
            <th>単価情報</th>
            <th>業種</th>
            <th>担当フェーズ</th>
            <th>ポジション</th>
            <th>言語・ＯＳ等</th>
            <th>経験年数</th>
            <th>ポジション</th>
            <th>所持資格情報</th>
            <th>技術フェーズ</th>
            <th>言語・OS</th>
            <th>ロードマップ(URL)</th>
            <th>賞与支給</th>
            <th>給与テーブル</th>
            <th>内定通知書</th>
            <th>雇用契約書_内定時(労働条件通知書)</th>
            <th>雇用契約書_更新時(労働条件通知書）</th>
            <th>昇給通知書</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <!-- 社員基本情報表示 -->
            {% include 'include/basic_info.html' %}
            <!-- 給与情報表示 -->
            {% include 'include/payroll_info.html' %}
            <!-- カスタム項目表示 -->
            {% include 'include/custom_fields.html' %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}